.dayimages {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  margin-bottom: 64px;
}

.outer {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
}
.outer > .inner {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.quantity {
  right: 0;
  bottom: 0;
}
